<!-- polls/templates/polls/poll_detail.html -->
{% extends 'accounts/base.html' %}

{% block title %}{{ poll.question }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">{{ poll.question }}</h1>
                <form method="post" action="{% url 'vote' poll.id %}">
                    {% csrf_token %}
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                    {% for choice in poll.choice_set.all %}
                    <div class="form-check">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="form-check-input">
                        <label for="choice{{ forloop.counter }}" class="form-check-label">{{ choice.choice_text }}</label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-3">Vote</button>
                </form>
                <a href="{% url 'poll_list' %}" class="btn btn-secondary mt-3">Back to Poll List</a>
            </div>
        </div>
    </div>
{% endblock %}
